

.inputContainer input{
    width: 100%;
    height: 50px;
    padding: 0 1rem;
    position: relative;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 400;
    line-height: normal;
    background-color: transparent;
    color: black;
    outline: none;
    box-shadow: 0px 4px 20px 0 transparent;


}

.inputContainer input + label {
    position: absolute;
    top: 24px;
    left: 15px;
    font-size: 0.9rem;
    font-weight: 600;
    color: blue;
    line-height: 1.3rem;
    opacity: 0;
    pointer-events: none;
    transition: 0.1s all ease-in-out;


}


.inputContainer:hover{
    background-color: aquamarine;
    box-shadow:  0px 4px 20px 0 blue;
}

.inputContainer.active {
    background-color: blueviolet;
    box-shadow:  0px 4px 20px 0 blueviolet;
}

.inputContainer.active input{
    padding:  1rem 1rem 1rem 1rem;
}





