
.headerTitleCard{
    padding: 1rem 0.2rem;
    font-size: 2rem;
    font-weight: bold;
    margin: 1rem 0.5rem;
   text-align: center;

}

.inputContentContainer{width: 100%;}

.cardContainer{
    
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    overflow: hidden;
}

.headerDetailContainer{
    display: flex;
    flex-direction: row;

}
.headerTitleCard{
    align-items: center;
    justify-content: center;
  

}
.headerDetailContainer .backButton {
    padding: 1rem;
    background-color: aqua;
    margin: 1rem;
    border: none;
    border-radius: 1rem;
    font-size: 1rem;



}




  .categoryContainer {
    min-width: 200px;
    height: fit-content;
    background-color: #CBBAED;
    padding: 1rem;
    border: none;
    transition: all 0.3s ease-in-out;
    color: #000000;
  }

  .categoryContainer:hover {
    background-color: #BAA6D2;
    color: #FFFFFF;
  }

  .categoryName {
    font-size: 1rem;
  }