/* @import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"); */
.headerContainer {
    background-color: orange;
    box-shadow: 1px 1px 5px 0 orange;
    position: sticky;
    top: 0;
    width: 100%;
    max-height: 60px;
    z-index: 2;
  
}
.logo{
    display: inline-block;
    color: black;
    font-size: 2rem;
    margin-left: 10px;
    font-weight: bold;

}

.hamb {
    cursor: pointer;
    float: right;
    padding: 1rem 1rem;


}
.hamb-line{
    color: white;
    display: block;
    height: 2px;
    position: relative;
    width: 25px;
}

.hamb-line::before,
.hamb-line::after{
    background: white;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .4s ease-out;
    width: 100%;

}

.hamb-line::before{
    top: 5px;
}

.hamb-line::after{
    top: -5px;

}


.nav{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: orange;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s ease-in-out;
 
    

}


.menu button{display: block;
    padding: 5px;
    margin: 5px;
    margin-left: 10px;
    padding-left: 10px;
    padding-right: 10px;
    color: orange;
    transition: all 0.5s ease-in-out;
    border: 1px;
    border-radius: 10px;
   


}
.menu button:hover {
    background-color: aqua;
    color: blueviolet;
}

.side-menu{
    display: none;

}

.side-menu:checked ~ nav {
    max-height: 100%;
}

.side-menu:checked ~ .hamb .hamb-line {
    background: transparent;
}

.side-menu:checked ~ .hamb .hamb-line:before {
    transform: rotate(-45deg);
    top: 0;
}

.side-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top: 0;
}

@media (min-width: 768px) {
    .nav {
        max-height: none;
        top: 0;
        position: relative;
        float: right;
        width: fit-content;
        background-color: transparent;
    }
    .menu li {
        float: left;
    }

    .menu button:hover {
        background-color: transparent;
        color: #fff;
    }

    .hamb {
        display: none;
    }
}




