.checkOutContainer{
    display: flex;
    flex-direction: column;
    padding: 2rem;

}

.checkOutTitle{
    color: black;

}
.checkoutForm{
    display: flex;
    flex-direction: column;
    max-width: 50vw;
}
.checkOutFormContainer{
    padding: 2rem 0;

}
.checkOutFormInputGroup{
    padding: 1rem 0;

}

.checkOutFormInput {
    padding: 1rem;
    
}


.cartButtonCheckout{

    border: none;
    background-color: #5156A4;
    color: #ffffff;
    padding: 1rem 2rem;
    border-radius: 0.2rem;
    transition: all 0.3s ease-in-out;
  }
  
  .cartButtonCheckout:hover {
    background-color: #CBBAED;
    color: #000000;
  }
  


  .cartButtonCheckout:disabled {
    background-color: #79797a;
    color: white;
    cursor: not-allowed;
  }